---
import DemoCard from "../components/DemoCard";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro Demo</title>
  </head>
  <body>
    <DemoCard client:load />
  </body>
</html>
